# system files
.DS_Store

# cache files
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# app files
venv/
.env

# database
products.txt
frog.db

# data files
data/scraping_data.json
data/scraping_data_all.json

# log files
frog.log
html_logs/

# testing files
htmlcov/
.coverage