# system files
.DS_Store

# python files
__pycache__/

# app files
venv/
.env

# database
products.txt

# data files
data/scraping_data.json

# log files
frog.log
html_logs/

# testing files
htmlcov/
.coverage