# system files
.DS_Store

# cache files
__pycache__/
.mypy_cache/
.pytest_cache/

# app files
venv/
.env

# database
products.txt

# data files
data/scraping_data.json

# log files
frog.log
html_logs/

# testing files
htmlcov/
.coverage